{{template "base/base.html" .}}
{{define "head"}}
<title>Xin chào bạn gia nhập trò chơi nối từ</title>
{{end}}
{{define "body"}}
<div class="container" style="width: 500px;">
    <h3>Trò chơi được phát triển bởi minhnv</h3>
    <br>
    <form action="/room/" method="get" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Tên của bạn: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" name="username" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Phòng: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" name="roomId" required>
            </div>
        </div>

        <!-- <div class="form-group">
            <label class="col-md-3 control-label">Tôi muốn: </label>
            <div class="col-md-5">
                <select class="form-control" name="type">
                    <option value="autojoin">vào phòng chơi ngẫu nhiên</option>
                    <option value="create">tạo phòng chơi mới</option>
                    <option value="join">vào phòng chơi số</option>
                </select>
            </div>
        </div> -->

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">Quất</button>
            </div>
        </div>
    </form>
</div>
{{end}}